@use 'variables' as v;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: v.$color-blue-1;
  color: v.$color-white;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: v.$typography-1;
  font-size: 1.4rem;
  background-color: v.$color-primary;
  line-height: 1.7;
  position: relative;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}


@media ( max-width: 56.25em ) {
  html {
    font-size: 56.25%;
  }
}

@media ( max-width: 42.5em ) {
  html {
    font-size: 50%;
  }

  body {
    font-size: 1.6rem;
  }
}

