// FONTS 
$typography-1: 'Montserrat', sans-serif;
$typography-2: 'Prata', sans-serif;

// COLOR PRIMARY
$color-primary: #fff4e0;

// COLORS WHITE
$color-white: #ffffff;
$color-gray: #54595f;

// COLORS BLUE
$color-blue-1: #052123;
$color-blue-2: #114e53;
$color-blue-3: #8ca1aa;
$color-blue-4: #3e534c;
