@use 'base/variables' as v;

.section-hero {
  display: grid;
  grid-template-columns: 45% 55%;
  gap: 1rem;
  position: relative;
  background-color: v.$color-blue-1;
}

.hero {
  &__img {

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__info {
    background-color: v.$color-blue-1;
    color: v.$color-primary;
    padding: 5rem 15rem 5rem 5rem;
  }

  &__text {
    margin-bottom: 5rem;
  }
  
  &__squareBox {
    position: absolute;
    animation: Rotate 2.5s ease-out infinite;
    top: 10%;
    right: 8%;
    border: 3px solid v.$color-white;
    width: 7rem;
    height: 7rem;  
  
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


@media ( max-width: 56.25em ) {
  // .section-hero {
  //   grid-template-columns: 50% 50%;
  // }

  .section-hero {
    grid-template-columns: 1fr;
  }

  .hero__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75rem;

    img {
      width: 60%;
    }

  }


  .hero__info {
    padding-right: 10rem;
  }

  .hero__text {
    margin-bottom: 6rem;
  }

  .hero__squareBox {
    display: none;
  }
}

@media ( max-width: 48em ) {

  .hero__img {
    img {
      width: 80%;
    }

  }

  .hero__info {
    padding: 5rem;
  }


}

@media ( max-width: 31.25em ) {
  .hero__img {
    img {
      width: 100%;
    }
  }

  .hero__info {
    padding-bottom: 5rem;
  }
}