@use 'base/variables' as v;

.header {
  position: fixed;
  z-index: 999;
  margin: 0 auto;
  display: flex;
  background-color: v.$color-primary;
}

@media ( max-width: 48em ) {
  .header {
    padding: 2rem 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}

